body {
    background-color: rgb(160, 234, 230);
    margin: 0px;
    padding: 0px;
}

.box-head {
   background-color: rgb(233, 190, 80);
    width: 100%;
    height: 10px;
    margin: 0px 0px 0px 0px;
    padding: 24px; 
}
h4 {
    font-style: italic;
}
img {
    width: 50%;
   display: inline-block;
}
.first-p {
    display: inline-block;
    width: 25%;
    margin: 48px;
    font-size: larger;
}
.red .mars {
    display: inline-block;
    width: 25px;
}
span {
    font-style: italic;
}
