/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border-radius: 3%;
    border: 2px solid black;
    padding: 12px;
    background: linear-gradient(
    to bottom right,
    rgb(253, 204, 115),
    rgb(237,140,79)
    );    
    width: 650px
}
h1 {
    color: darkblue;
    margin:0px;
    font-size: 50px;
}
h4 {
    background-color:darkblue;
    color: white;
    text-align: center;
    padding:10px;  
    margin: 3px;
    width: 150%;
    font-size: 20px;
}
#left-side, 
#right-side {
    display: inline-block;
}
#id-and-expiration div {
display: inline-block;
}
#small-pic, #data-fields {
    display: inline-block;
}
span, #donor {
    color: red;
    font-style: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
}
#data-left, #data-right {
    display: inline-block;
}
#signature {
    text-align: center;
    font-family: cursive;
}
#left-side img {
    opacity: 50%;
    width: 100px;
}
#donor, #real-id {
    display: inline-block;
}
#right-side img {
    width:200px;
}
#right-side {
    text-align: center;
    margin: 0px 12px 0px 90px;

}
#left-side {
    margin: 0px 0px 12px 12px;
}
#real-id {
    color: rgb(253, 253, 249);
    border: 3px solid rgb(241, 241, 36);
    border-radius:100%;
    background-color: rgb(240, 240, 73);
}