/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
#bulletin-board {
    display: inline-block;
}
.post-it {
    background-color: yellow;
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 24px;
    padding: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.blue {
    background-color: lightblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.red {
    background-color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.green {
    background-color:lightgreen;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.purple {
    background-color:purple;
    font-family:cursive
}