* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 36px 0px;
}
#hero-1 {
    background-image: url(../images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quote {
    background-color: black;
}
#quote h3 {
    font-size: 56px;
    color: #ffde17;
}
#hero-1 a {
    font-size: 26px;
    background-color: #ffde17;
    color: #00494b;
    text-decoration: none;
    padding: 24px;
    margin-top: 72px;
}
#hero-1 a:hover {
    color: #ffde17;
    background-color: #00494b;
    border: 4px solid #ffde17;
}
.card {
    width: 650px;
    margin: 24px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -4px 4px 12px #ddd;
    background:
        linear-gradient(-50deg, #ffde17, #fff7f7, #ffde17)
    ;
}
#navbar {
    background-color: #ffde17;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
#icon:hover, #navbar a:hover {
    background-color: #00494b;
}
.fa-solid {
    color: white;
}
#footer {
    background-color: #00494b;
    color: white;
    padding: 12px;
}
#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer a {
    text-decoration: none;
    color: white;
}
#footer-columns-navbar {
    margin: 0px auto;
    padding: 48px 0px;
    padding-right: 36px;
    display: flex;
    justify-content: space-between;
}
#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}
#footer-columns-navbar a {
    padding: 8px 0px;
}
.menu-items {
    width: 70%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.menu-container {
    background-color: black;
    padding: 48px 0px;
    color: white;
}
.menu-items h1 {
    text-align: center;
}
.menu-items ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.menu-items li {
    padding: 8px;
    flex: 30%
}
.menu-items img {
    width: 50%;
    align-items: left;
}

#side-dessert {
    grid-area: content;
    margin: 0px 36px;
}
.logo {
    width: 200px;
      
}
#pie a {
    font-size: 24px;
    background-color: #ffde17;
    color: #00494b;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%; 
}
#pie a:hover {
    font-size: 24px;
    background-color: #00494b;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%; 
}

@media screen and (max-width: 800px) {
    .hero-1 h1 {
        font-size:1.625rem;
    }
    .hero-1 a {
        display: block;
        font-size: 1.125rem;
    }
    #quote {
        height: auto;
        flex-direction: column;
    }
    #quote h3 {
        height: 200px;
        width: 100%;
        flex: auto;
    }
    #navbar {
        flex: auto;
        flex-direction: column;
    }
    #navbar {
        background-color: #ffde17;
        display: flex;
        align-items: center;
    }
    #navbar a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    #navbar #logo {
        margin-right: auto;
        font-weight: bold;
        font-size: 24px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #navbar a:hover {
        background-color: #00494b;
    }
    #footer-navbar {
        width: 300px;
        flex-direction: column;
        align-items: center;
    }
    #footer-columns-navbar {
        width: 300px;
        margin: 0px auto;
        padding: 12px 0px;
        display: flex;
        flex-direction:column;
    }
    #footer-columns-navbar div {
        display: flex;
        flex-direction: column;
    }
    #grid-layout {
        display: grid;
        grid-template-columns: 1fr;
        margin: 36px 0px;
    }
    .menu-items li {
        padding: 8px;
        flex: 50%
    }
}

    




